node_modules/
dist/
.vscode/

# logs
*.log
pnpm-debug.log*
yarn-debug.log*
npm-debug.log*

# editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# test/coverage
coverage/
.vitest/

# vitepress build output
docs/.vitepress/dist/
docs/.vitepress/cache/

# misc
.env
.env.local
*.local
